<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <a href="/gab">Make a Gab</a>
    <a href="/gablikes">View Gab Likes</a>
  </body>
</html>
