<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    <div class="topnav">
      <a href="/gab">Make a Gab</a>
      <a href="/homepage">Homepage</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
    <header>
      <h1>Hello Gabber!</h1>
      <h3>Please login to your account</h3>
    </header>
    <form class="" action="index.html" method="post">
    <input type="text" name="logUser" value="" placeholder="Username">
    <input type="password" name="logPass" value="" placeholder="Password">
    <button type="submit" name="button">LOG IN</button>
    </form>
    <h2>Never Gabbed Before?</h2>
    <h3>Sign up and become a part of the community today!</h3>
    <form class="" action="/register" method="post"><button type="submit" name="button">SIGN UP</button></form>
  </body>
</html>
