<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Out</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </div>
    <h1>Sign Out</h1>
    <button type="submit" name="button">Sign Out</button>
    <h3>Come back soon!</h3>
  </body>
</html>
